.cache/
.circleci/

coverage/
.eslintignore
.eslintrc.js

jest.config.js
src/__tests__/

# compiled js files
dist/*
!dist/*.js
!dist/errors/*.js
!dist/api/*.js
lib/*
!lib/*.js
!lib/errors/*.js
!lib/api/*.js
